.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 1.5rem 30px 2rem;
  flex: 1;
  overflow: scroll;
}

.title {
  margin: 0 0 0.5rem;
  line-height: 1.15;
  font-size: 1.5rem;
}

.settings {
  display: flex;
  border-top: 1px solid var(--light-gray);
}

.units {
  margin-top: 0.5rem;
}

.option {
  padding: 0;
  border: none;
  font-size: 16px;
  background-color: var(--white);
}

.active {
  font-weight: bold;
}
 
.inactive {
  text-decoration: underline;
}

.checkbox {
  display: inline-flex;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
}

.input {
  margin-right: 10px;
  height: 18px;
  width: 18px;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;

  border: 2.5px solid var(--black);
  border-radius: 3px;
}

.input:checked {
  background-color: var(--light-gray);
}

.input:checked:before {
  position: absolute;
  content: url(../public/check.svg);
  display: block;
  top: 4px;
  left: 5px;
}

.asteroids {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 76px; */
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
}

@media (max-width: 600px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .settings {
    flex-direction: column;
  }

  .checkbox {
    margin-left: 0;
  }

  .asteroids {
    margin-top: 34px;
    grid-template-columns: 1fr;
  }
}
