.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  background-color: var(--light);
}

.content {
  width: 100%;
  max-width: 800px;
  border-radius: 2rem;
  padding: 2rem;

  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.title {
  margin: 1rem;
  line-height: 1.15;
  font-size: 1.5rem;

  color: var(--dark);
}

.list {
  width: 100%;
  padding: 0;
}

.listItem {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid var(--light-gray); 
  padding: 20px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  border: 1px solid var(--red);
  padding: 5px;
  border-radius: 4px;

  font-size: 14px;
  color: var(--red);
  background-color: var(--white);
}

.order {
  padding: 1.5rem 0;
  font-size: 20px;
  text-align: center;
  color: var(--dark);
}

.button {
  border: none;
  padding: 12px 24px;
  border-radius: 4px;

  font-size: 20px;
  line-height: 1.6;
  color: var(--white);
  background-color: var(--blue);
}
